<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
  <div class="parent" style="background-color: #f8f8f8">
    <div class="child">
      <div nz-row class="imgDiv">
        <!-- <div nz-col nzSpan="24"><img width="100%" src="../../assets/stack.png" /></div> -->
      </div>
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <p
          style="padding: 2px; font-size: 20px; font: bold; text-align: center"
        >
          Admin Login
        </p>
        <br />
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="userName"
                placeholder="Enter your registered email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Enter your password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
        >
          Log in
        </button>
      </form>
    </div>
  </div>
</nz-spin>
