[nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

  .child{
    padding: 50px;
    position: absolute;
    width: 380px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 22px;
    
  }

  nz-form-control{
    min-width: 280px;
  }

  .parent{
    width: 100%;
    height: 91vh;
    position: relative;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  button{
    background-color: #8e0fab;
    border: none;
  }

  .imgDiv{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 40px;
  }
