<div class="bg" style="background-color: #f8f8f8">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <!-- <div nz-col nzSpan="24"><img width="100%" src="../../assets/logo.png" /></div> -->
        </div>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <p style="font-size: 20px; font: bold; text-align: center">
            User Registration
          </p>
          <br />
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="The input is not valid E-mail!"
            >
              <input
                nz-input
                placeholder="E-mail Address"
                formControlName="email"
                id="email"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
              <input
                nz-input
                placeholder="Password"
                type="password"
                id="password"
                formControlName="password"
              />
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Password Is Required!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Password Should Conatins 8 Characters,1 Lowercase, 1
                  Uppercase, 1 Number and 1 Special character
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
              <input
                nz-input
                type="password"
                placeholder="Confirm Password"
                formControlName="checkPassword"
                id="checkPassword"
              />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Confirm your Password
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Passwords are not matched
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input
                nz-input
                placeholder="Name"
                id="username"
                formControlName="name"
              />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Enter your password
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Register Now
          </button>
          Already a User? &nbsp;<a routerLink="/login">Login </a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
