<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex">
    <div>
      <i
        nz-icon
        nzType="heat-map"
        nzTheme="outline"
        style="margin-left: 20px"
      ></i>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/login" id="welcomeheading"> Welcome to Doconnect </a>
    </div>
    <div class="nav-links">
      <a
        *ngIf="this.router.url === '/'"
        nz-button
        nzType="link"
        routerLink="/register"
        routerLinkActive="active"
        >User</a
      >
      <a
        *ngIf="this.router.url === '/'"
        nz-button
        nzType="link"
        routerLink="/admin-login"
        routerLinkActive="active"
        >Admin</a
      >
      <a
        *ngIf="this.router.url === '/register' || this.router.url === '/login'"
        nz-button
        nzType="link"
        routerLink="/register"
        routerLinkActive="active"
        >User Register</a
      >
      <a
        *ngIf="this.router.url === '/register' || this.router.url === '/login'"
        nz-button
        nzType="link"
        routerLink="/login"
        routerLinkActive="active"
        >User Login</a
      >
      <a
        *ngIf="this.router.url === '/admin-login'"
        nz-button
        routerLink="/"
        nzType="link"
        >Home</a
      >
      <a
        *ngIf="this.router.url === '/login' || this.router.url === '/register' "
        nz-button
        routerLink="/"
        nzType="link"
        >Home</a
      >
    </div>
  </nz-header>

  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    class="mobile-sidenav"
  >
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <div class="dropdown">
        <button class="dropbtn">User</button>
        <div class="dropdown-content">
          <li nz-menu-item></li>
          <li nz-menu-item>
            <a
              nz-button
              nzType="link"
              routerLink="/admin-login"
              routerLinkActive="active"
              >Login</a
            >
          </li>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <li nz-menu-item>
            <a
              nz-button
              nzType="link"
              routerLink="/register"
              routerLinkActive="active"
              >Sign Up</a
            >
          </li>
          <li nz-menu-item>
            <a
              nz-button
              nzType="link"
              routerLink="/login"
              routerLinkActive="active"
              >Login</a
            >
          </li>
        </div>
      </div>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isUserLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex">
    <div>
      <a routerLink="" style="margin-left: 5px"> Ask a Question </a>
    </div>
    <div class="nav-links">
      <a
        nz-button
        nzType="link"
        routerLink="/user/dashboard"
        routerLinkActive="active"
        >Dashboard</a
      >
      <a
        nz-button
        nzType="link"
        routerLink="/user/post-question"
        routerLinkActive="active"
        >Post Question</a
      >
      <button class="btn btn-primary" (click)="changeflag2()">Chat</button>

      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active"
        >Logout</a
      >
    </div>
  </nz-header>

  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    class="mobile-sidenav"
  >
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/dashboard"
          routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/post-question"
          routerLinkActive="active"
          >Post Question</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/search-question"
          routerLinkActive="active"
          >Search Question</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/my-questions"
          routerLinkActive="active"
          >My Questions</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/search-answer"
          routerLinkActive="active"
          >Search Answer</a
        >
      </li>
      <li nz-menu-item>
        <button class="btn btn-primary" (click)="changeflag2()">Chat</button>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active"
          >Logout</a
        >
      </li>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex">
    <div>
      <a routerLink="" id="welcomeheading" style="margin-left: 5px">
        Welcome to Doconnect
      </a>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active"
        >Logout</a
      >
    </div>
  </nz-header>

  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    class="mobile-sidenav"
  >
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/dashboard"
          routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/post-question"
          routerLinkActive="active"
          >Post Question</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/search-question"
          routerLinkActive="active"
          >Search Question</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/my-questions"
          routerLinkActive="active"
          >My Questions</a
        >
      </li>
      <li nz-menu-item>
        <a
          nz-button
          nzType="link"
          routerLink="/user/search-answer"
          routerLinkActive="active"
          >Search Answer</a
        >
      </li>
      <li nz-menu-item>
        <button class="btn btn-primary" (click)="changeflag2()">Chat</button>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active"
          >Logout</a
        >
      </li>
    </ul>
  </nz-sider>
</div>
