.child{
    padding: 30px;
    width: 780px;
    background-color: white;
    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    
  }

  .section{
    padding: 30px;
    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  i{
    font-size: 20px;
    font-weight: bold;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  tr{
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  p{
    margin-bottom:0em;
  }

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2:hover{
    text-decoration-line: underline;
  }

  .pagination{
    width: 780px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    
  }