<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Group-1 C4 Doconnect Project
  </div>
</footer>
<!-- Footer -->
