<!-- <div class="chat">
  <h1>Chat Here</h1>
  <table>
    <tbody *ngFor="let c of chat">
      <td>{{ c.message }}</td>
      <small>{{ currentDate.getTime }}</small>
    </tbody>
    <input type="text" [(ngModel)]="chatbody" />
    <button class="btn btn-primary" (click)="send()">Send</button>
  </table>
</div> -->
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        &nbsp;

        <div class="card" id="chat1" style="border-radius: 15px">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px"
          >
            <i class="fas fa-angle-left"></i>
            <p class="mb-0 fw-bold">Anonymous chat</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="card-body" id="scroll">
            <div
              class="d-flex flex-row justify-content-start mb-4"
              *ngFor="let c of chat"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1"
                style="width: 45px; height: 100%"
              />
              <div
                class="p-3 ms-3"
                style="
                  border-radius: 15px;
                  background-color: rgba(57, 192, 237, 0.2);
                "
              >
                <p class="small mb-0">{{ c.message }}</p>
              </div>
            </div>

            <div class="form-outline">
              <textarea
                [(ngModel)]="chatbody"
                class="form-control"
                id="textAreaExample"
                rows="4"
              ></textarea>
              <label class="form-label" for="textAreaExample"
                >Type your message</label
              >
              <br />
              <button class="btn btn-primary" (click)="send()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
